[submodule "atheum"]
	path = atheum
	url = https://github.com/sensibile/atheum.git
[submodule "axiom"]
	path = axiom
	url = https://github.com/sensibile/axiom.git
[submodule "akashic"]
	path = akashic
	url = https://github.com/sensibile/akashic.git
