[submodule "atheum"]
	path = atheum
	url = https://github.com/sensibile/atheum.git
[submodule "axiom"]
	path = axiom
	url = /Users/tonton/Documents/workspace/acropolis/axiom
[submodule "akashic"]
	path = akashic
	url = https://github.com/sensibile/akashic.git
